body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e1e1e;
}
/* grey: 1e1e1e  pink: ee3665 | blue: 4cc3c7 */

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
